<style>
    header a:hover {
        text-decoration: none;
    }
</style>
<header class="bg-secondary"> 
    <div class="container d-flex align-items-center py-3">
        <a href="/" class="text-light mr-4">
            <h1 class="m-0 p-0">Friend Finder</h1>
        </a>
        <a href="/survey" class="text-light">Survey</a>
    </div>
</header>