<div class="container">
    <h1 class="m-0 mt-5 mb-3">Welcome to <b>Friend Finder</b></h1>
    <p class="m-0 mb-3">We find you friends based on your preferences</p>
    <a href="/survey" class="btn btn-success btn-lg rounded-pill px-5 mb-5">Find Now</a>
</div>